@page "/"
@inherits IndexBase
<h1>Aptacode.AppFramework Demo</h1>

<div style="display: flex; justify-content: left; margin: 0 auto; width: 100%;">
    <SceneControllerView ViewModel="SceneController"/>
</div>