@inherits SceneViewBase
<div
     tabindex="0"
     @onkeydown="KeyDown"
     @onkeyup="KeyUp"
     @onmousemove="MouseMove"
     @onmousedown="MouseDown"
     @onmouseup="MouseUp"
     @onmouseout="MouseOut">

     
    <BlazorCanvas @ref="Canvas">
        @ChildContent
    </BlazorCanvas>
</div>